.header{
    width: 400px;
    height: 100px;
    background-color: #FFCE7a;
    margin-right: auto;
    margin-left : auto;
}
.container1{
    width: 160px;
    height: 60px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items:center;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.box1{
    width: 40px;
    height: 40px;
    background-color: #C2FFC8;
    
}


.main{
    width: 400px;
    height: 250px;
    background-color: #090909;
    margin-right: auto;
    margin-left : auto;
}
.main-left{
    width: 150px;
    height: 250px;
    background-color: #9dddf4;
    float: left;
}
.main-right{
    width: 250px;
    height: 250px;
    background-color: #C2FFC8;
    float: right;
}
.container-main1{
    width: 150px;
    height: 50px;
    background-color: #FFF;
    display:flex;
    flex-flow: column;
    justify-content:space-around;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 20px;
    
    
}
.container-main2{
    width: 150px;
    height: 50px;
    background-color: #FFF;
    display:flex;
    flex-flow: column;
    justify-content:space-around;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 40px;
    
    
}
.container-main3{
    width: 150px;
    height: 50px;
    background-color: #FFF;
    display:flex;
    flex-flow: column;
    justify-content:space-around;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 5px;
    
    
}
.box-main{
    width: 140px;
    height: 40px;
    background-color: #ffc2c5;
    margin-left: 5px;
    margin-right: 60px;
}

.footer{
    width: 400px;
    height: 100px;
    background-color: #bea5ff;  
    margin-right: auto;
    margin-left : auto;  
}
