body{
    width: 100%;
}
.wrapper{
    width: 400px;
    margin: 0 auto;
}
.header{
    height: 100px;
    background-color: #141f40;
}
.side{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.content{
   float: right;
   width: 250px;
   height: 250px; 
}
.center-top-left{
   float: left;
   width: 150px;
}
.content-top-left-top{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}
.ontent-top-bottm{
    width: 100px;
    height: 100px;
    background-color: #0093b7;
}
ontent-top-left-right{
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}
ontent-bottom{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}
.footer{
    height: 100px;
    background-color: #d98b30;
}
