@media only screen and (max-width: 479px){
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
    body{
    width: 100%;
}
.wrapper{
    width: 400px;
    margin: 0 auto;
}
.header{
    height: 300px;
    background-color: #141f40;
}
.main-clearfix{
    display: flex;
    width: px;
    height: 250px;
}
.side{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.float-top{ 
   float: right;
   width: 250px;
   height: 250px; 
}
.content-top-left{
   float: left;
   width: 150px;
}
.content-top-left-top{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}
.content-top-left-bottm{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}
.content-top-right{
    float: right;
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}
.content-bottom{
    float: right;
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}
.footer{
    height: 100px;
    background-color: #d98b30;
}


}
